@model BeeyondScreen.Models.HorarioPelicula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HorarioPelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID HORARIO
        </dt>
        <dd class = "col-sm-10">
            @Model.IdHorario
        </dd>
        <dt class = "col-sm-2">
            ID PELICULA
        </dt>
        <dd class = "col-sm-10">
            @Model.IdPelicula
        </dd>
        <dt class = "col-sm-2">
            ID SALA
        </dt>
        <dd class = "col-sm-10">
            @Model.IdSala
        </dd>
        <dt class = "col-sm-2">
            ID VERSION
        </dt>
        <dd class = "col-sm-10">
            @Model.IdVersion
        </dd>
        <dt class = "col-sm-2">
            HORA FUNCION
        </dt>
        <dd class = "col-sm-10">
            @Model.HoraFuncion
        </dd>
        <dt class = "col-sm-2">
            ASIENTOS DISPONIBLES
        </dt>
        <dd class = "col-sm-10">
            @Model.AsientosDisponibles
        </dd>
        <dt class="col-sm-2">
            ESTADO
        </dt>
        <dd class="col-sm-10">
            @Model.Estado
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
