@model BeeyondScreen.Models.HorarioPelicula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HorarioPelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHorario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHorario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPelicula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFuncion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFuncion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsientosDisponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsientosDisponibles)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
