@model Pelicula

<h1>Detalles pelicula</h1>

<ul class="list-group">
    <li class="list-group-item">@Model.Titulo</li>
    <li class="list-group-item">@Model.FechaLanzamiento</li>
    <li class="list-group-item">@Model.DuracionMinutos</li>
    <li class="list-group-item">@Model.TituloEtiqueta</li>
    <li class="list-group-item">@Model.Sinopsis</li>
    <li class="list-group-item">@Model.ImgFondo</li>
    <li class="list-group-item">@Model.ImgPoster</li>
</ul>