@model List<Pelicula>

<h1>Peliculas</h1>

<a class="btn btn-success"
   asp-controller="Peliculas"
   asp-action="Create">
    Create new Pelicula
</a>

@foreach(Pelicula pelicula in Model){
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@pelicula.Titulo</h5>
            <p class="card-text">@pelicula.TituloEtiqueta</p>
            <a class="btn btn-primary"
            asp-controller="Peliculas"
            asp-action="Details"
            asp-route-idPelicula="@pelicula.IdPelicula">
                Detalle
            </a>
            <a class="btn btn-warning"
               asp-controller="Peliculas"
               asp-action="Update"
               asp-route-idPelicula="@pelicula.IdPelicula">
                Update
            </a>
            <a class="btn btn-danger"
               asp-controller="Peliculas"
               asp-action="Delete"
               asp-route-idPelicula="@pelicula.IdPelicula">
                Delete
            </a>
        </div>
    </div>
}